
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 50px 0 0;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.sticky-header h1 {
    margin: 0;
}

.sticky-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sticky-header nav li {
    display: inline-block;
    margin-right: 20px;
}

.sticky-header nav li:last-child {
    margin-right: 0;
}

.sticky-header nav a {
    text-decoration: none;
    color: #fff;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

h1 {
    color: #555;
}

h2 {
    color: #555;
}

p {
    line-height: 1.6;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    margin-bottom: 20px;
}

hr {
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 0;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.project-item {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.project-item img {
    max-width: 150px;
    margin-right: 20px;
}

.project-item p {
    flex: 1;
}

.project-item h3 {
    margin: 0;
    color: #007bff;
}

.contact-info {
    margin-top: 20px;
}

.introduction {
    overflow: hidden;
}

.introduction img {
    float: left;
    margin-right: 15px;
    max-width: 200px;
}

.nav-bar {
    background-color: #78787f;
    padding: 8px;
    display: flex;
    justify-content: left;
}

/* Style for the navigation bar buttons */
.nav-bar a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
    margin: 0 10px;
}

/* Style for the buttons container */
.nav-buttons {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    background-color: #78787f;
    border-radius: 4px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-buttons a {
    color: #fff;
    text-decoration: none;
    padding: 8px 12px;
}

.section-toggle {
    position: relative;
    padding-right: 30px; /* Adjust the right padding to make space for the button */
    cursor: pointer;
}

.section-toggle::before {
    content: '\25B6'; /* Unicode for a right-pointing triangle */
    position: absolute;
    right: 10px; /* Adjust the right position to align the button */
    font-size: 12px; /* Adjust the font size for a smaller button */
    line-height: 20px; /* Adjust line-height for vertical centering */
}

.section-toggle.collapsed::before {
    content: '\25BC'; /* Unicode for a down-pointing triangle */
}

/* Hide the content when the "collapsed" class is applied */
.section-content.collapsed {
    display: none;
}
